:root {
    --xlarge : 170px;
    --large : 28px;
    --medium : 18px;
    --small : 16px;
    --xsmall : 14px;
}

body {
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Noto Serif KR', serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container .main-wrapper {
    text-align: center;
}

.main-container .date {
    font-size: var(--large);
    font-weight: 400;
}

.main-wrapper .time {
    font-size: var(--xlarge);
    font-weight: 400;
    margin-top: -35px;
}

.main-wrapper .Search {
    display: flex;
    justify-content: center;
}

.Search #Search_Input {
    width: 600px;
    background-color: gainsboro;
    color: black;
    font-size: var(--medium);
    padding: 15px 0px;
    border-radius: 30px;
    border: 0px;
    text-align: center;
    margin-top: -10px;
}

.Search #Search_Input::placeholder{
    font-size: var(--medium);
}