:root {
    --xlarge : 170px;
    --large : 28px;
    --medium : 18px;
    --small : 16px;
    --xsmall : 14px;
}

body {
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Noto Serif KR', serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.main-container .main-wrapper {
    text-align: center;
    position: fixed;
}

.main-container .date {
    font-size: var(--large);
    font-weight: 400;
}

.main-wrapper .time {
    font-size: var(--xlarge);
    font-weight: 400;
    margin-top: -35px;
}

.main-wrapper .Search {
    display: flex;
    justify-content: center;
}

.Search #Search_Input {
    width: 600px;
    background-color: gainsboro;
    color: black;
    font-size: var(--medium);
    padding: 15px 0px;
    border-radius: 30px;
    border: 0px;
    text-align: center;
    margin-top: -10px;
}

.Search #Search_Input::placeholder{
    font-size: var(--medium);
}

.Bookmark_open {
    width: 240px;
    padding : 15px 30px;
    font-size: var(--xsmall);
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.Bookmark_close {
    width: 240px;
    padding : 15px 30px;
    font-size: var(--xsmall);
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    color: black;
}

.Bookmark_close div {
    cursor: pointer;
}

.Bookmark_open div {
    cursor: pointer;
}

.Bookmark_bar {
    width: 240px;
    position: absolute;
    top: 50px; right: 0px;
    min-height: calc(100vh - 70px);
    padding: 10px 30px;
    color: white;
}